{{!-- Acolyte Sheet Body - Contains all tab content --}}
<section class="rt-body">
    {{!-- Include each tab template directly --}}
    {{> systems/wh40k-rpg/templates/actor/acolyte/tab-overview.hbs}}
    {{> systems/wh40k-rpg/templates/actor/acolyte/tab-skills.hbs}}
    {{> systems/wh40k-rpg/templates/actor/acolyte/tab-talents.hbs}}
    {{> systems/wh40k-rpg/templates/actor/acolyte/tab-combat.hbs}}
    {{> systems/wh40k-rpg/templates/actor/acolyte/tab-equipment.hbs}}
    {{> systems/wh40k-rpg/templates/actor/acolyte/tab-biography.hbs}}
</section>
