{{!-- Acolyte Sheet Talents Tab --}}
{{!-- This part renders the Talents/Specialties tab content --}}
<section class="tab {{#if tab.active}}active{{/if}} {{ tab.cssClass }}" data-tab="{{ tab.id }}" data-group="{{ tab.group }}">
    
    {{!-- Two Column Layout: Specialist Skills (left) / Talents + Traits (right) --}}
    <div class="rt-talents-grid rt-talents-grid--2col">
        {{!-- Left Column - Specialist Skills --}}
        <div class="rt-talents-col rt-talents-col-left">
            {{> systems/rogue-trader/templates/actor/panel/skills-specialist-panel.hbs}}
        </div>
        
        {{!-- Right Column - Talents & Traits --}}
        <div class="rt-talents-col rt-talents-col-right">
            {{> systems/rogue-trader/templates/actor/panel/talent-panel.hbs}}
            {{> systems/rogue-trader/templates/actor/panel/trait-panel.hbs}}
        </div>
    </div>
</section>
