{{!-- Acolyte Sheet Skills Tab --}}
{{!-- This part renders the Skills tab content --}}
<div class="tab rt-tab rt-tab-skills" data-group="primary" data-tab="skills">
    {{!-- Skills Panel --}}
    <div class="rt-panel">
        <div class="rt-panel-header">
            <span class="rt-panel-title"><i class="fas fa-book"></i> Skills</span>
        </div>
        <div class="rt-panel-body">
            {{> systems/rogue-trader/templates/actor/panel/skills-panel.hbs}}
        </div>
    </div>
</div>
