{{!-- Acolyte Sheet Skills Tab --}}
{{!-- This part renders the Skills tab content --}}
<section class="tab {{#if tab.active}}active{{/if}} {{ tab.cssClass }}" data-tab="{{ tab.id }}" data-group="{{ tab.group }}">
    {{!-- Skills Panel --}}
    <div class="rt-panel">
        <div class="rt-panel-header">
            <span class="rt-panel-title"><i class="fas fa-book"></i> Skills</span>
        </div>
        <div class="rt-panel-body">
            {{> systems/rogue-trader/templates/actor/panel/skills-panel.hbs}}
        </div>
    </div>
</section>
