{{!-- Acolyte Sheet Talents Tab --}}
{{!-- This part renders the Talents/Specialties tab content --}}
<div class="tab rt-tab rt-tab-talents" data-group="primary" data-tab="talents">
    <div class="rt-specialties-left">
        {{> systems/rogue-trader/templates/actor/panel/skills-specialist-panel.hbs}}
    </div>
    <div class="rt-specialties-right">
        {{> systems/rogue-trader/templates/actor/panel/talent-panel.hbs}}
        {{> systems/rogue-trader/templates/actor/panel/trait-panel.hbs}}
    </div>
</div>
