{{!-- Acolyte Sheet Equipment Tab --}}
{{!-- This part renders the Equipment tab content --}}
<section class="tab {{#if tab.active}}active{{/if}} {{ tab.cssClass }}" data-tab="{{ tab.id }}" data-group="{{ tab.group }}">
    {{!-- NEW: Equipment Slots Panel (visual slot view) --}}
    {{> systems/rogue-trader/templates/actor/panel/equipment-slots-panel.hbs}}
    
    {{!-- EXISTING: Loadout Equipment Panel (list view) --}}
    {{#if (ne equipmentSlots.viewMode 'slots')}}
        {{> systems/rogue-trader/templates/actor/panel/loadout-equipment-panel.hbs}}
    {{/if}}
</section>
