{{!-- Acolyte Sheet Equipment Tab --}}
{{!-- This part renders the Equipment tab content --}}
<div class="tab rt-tab rt-tab-equipment" data-group="primary" data-tab="equipment">
    {{> systems/rogue-trader/templates/actor/panel/loadout-equipment-panel.hbs}}
</div>
