{{!-- Acolyte Sheet Combat Tab --}}
{{!-- This part renders the Combat tab content with weapons and reactions --}}
<div class="tab rt-tab rt-tab-combat" data-group="primary" data-tab="combat">
    {{> systems/rogue-trader/templates/actor/panel/combat-station-panel.hbs}}
</div>
