<label class="tw-cursor-pointer sheet-control__hide-control" data-toggle="{{toggle}}">
    <span class="tw-pt-[3px] tw-pl-[2px] tw-text-[12px] tw-leading-none tw-inline-grid tw-whitespace-nowrap tw-opacity-50 material-icons">{{defaultVal icon "settings"}}</span>
</label>