<label class="tw-cursor-pointer sheet-control__hide-control tw-text-gold bc:tw-text-crimson-light dh1e:tw-text-gold-raw-l5 dh2e:tw-text-gold-raw dw:tw-text-accent-combat ow:tw-text-brass-l20 rt:tw-text-gold im:tw-text-failure" data-toggle="{{toggle}}">
    <span class="tw-pt-[3px] tw-pl-[2px] tw-text-[12px] tw-leading-none tw-inline-grid tw-whitespace-nowrap tw-opacity-50 material-icons">{{defaultVal icon "settings"}}</span>
</label>