<div class="tw-flex tw-w-full tw-flex-col tw-gap-2">
    {{#each headerFields as |field|}}
        {{> systems/wh40k-rpg/templates/actor/partial/sidebar-field-row.hbs field=field}}
    {{/each}}
</div>
