<div class="tw-flex tw-w-full tw-flex-col tw-gap-2 tw-border-l-2 tw-border-l-gold bc:tw-border-l-crimson-light dh1e:tw-border-l-gold-raw-l5 dh2e:tw-border-l-gold-raw dw:tw-border-l-accent-combat ow:tw-border-l-brass-l20 rt:tw-border-l-gold im:tw-border-l-failure tw-pl-2">
    {{#each headerFields as |field|}}
        {{> systems/wh40k-rpg/templates/actor/partial/sidebar-field-row.hbs field=field}}
    {{/each}}
</div>
