<label class="tw-cursor-pointer tw-opacity-100 hover:tw-opacity-50 sheet-control__hide-control tw-text-gold bc:tw-text-crimson-light dh1e:tw-text-gold-raw-l5 dh2e:tw-text-gold-raw dw:tw-text-accent-combat ow:tw-text-brass-l20 rt:tw-text-gold im:tw-text-failure" data-toggle="{{toggle}}">
    <span class="tw-text-left">{{text}}</span>
</label>