<label class="tw-cursor-pointer tw-opacity-100 hover:tw-opacity-50 sheet-control__hide-control tw-text-gold {{themeClassFor 'accent'}}" data-toggle="{{toggle}}">
    <span class="tw-text-left">{{text}}</span>
</label>