{{! Rogue Trader Release Notes Prompt - Modern Design }}
<div class="wh40k-prompt">
    <div class="wh40k-prompt__panel">
        <div class="wh40k-prompt__header">
            <h2 class="wh40k-prompt__title">Release Notes</h2>
            <div class="wh40k-prompt__subtitle">Version {{version}}</div>
        </div>

        <div class="wh40k-prompt__section">
            <ul class="tw-m-0 tw-pl-5 tw-leading-relaxed">
                {{#each notes as |note|}}
                    <li class="tw-mb-1.5">{{note}}</li>
                {{/each}}
            </ul>
        </div>
    </div>
</div>