{{! Rogue Trader Simple Roll Prompt - Modern Design }}
{{#with rollData}}
    <form class="wh40k-prompt" autocomplete="off">
        <div class="wh40k-prompt__panel">
            <h3 class="wh40k-prompt__section-title">{{name}}</h3>

            <div class="wh40k-prompt__target">
                <span class="wh40k-prompt__target-label">Target</span>
                <span class="wh40k-prompt__target-value">{{baseTarget}}</span>
                <span class="wh40k-prompt__target-percent">%</span>
            </div>

            <div class="wh40k-prompt__divider"></div>

            <div class="wh40k-prompt__field">
                <span class="wh40k-prompt__label">Difficulty</span>
                <select class="wh40k-prompt__select" data-dtype="Number" name="modifiers.difficulty" id="difficulty">
                    {{selectOptions difficulties selected=modifiers.difficulty}}
                </select>
            </div>
            <div class="wh40k-prompt__field">
                <span class="wh40k-prompt__label">Modifier</span>
                <input class="wh40k-prompt__input" type="number" data-dtype="Number" name="modifiers.modifier" id="modifier" value="0" />
            </div>
        </div>
    </form>
{{/with}}