{{!-- Starship Components Tab --}}
<section class="tab {{#if tab.active}}active{{/if}} {{ tab.cssClass }} tw-hidden tw-flex-col tw-gap-3 tw-p-3 {{#if tab.active}}tw-flex{{/if}}" data-tab="{{ tab.id }}" data-group="{{ tab.group }}">
    {{> systems/wh40k-rpg/templates/actor/panel/ship-components-panel.hbs}}
    {{> systems/wh40k-rpg/templates/actor/panel/ship-upgrades-panel.hbs}}
</section>
