{{!-- Starship Weapons Tab --}}
<section class="tab {{#if tab.active}}active{{/if}} {{ tab.cssClass }} tw-hidden tw-flex-col tw-gap-3 tw-p-3 {{#if tab.active}}tw-flex{{/if}} tw-border-t tw-border-gold bc:tw-border-crimson-light dh1e:tw-border-gold-raw-l5 dh2e:tw-border-gold-raw dw:tw-border-accent-combat ow:tw-border-brass-l20 rt:tw-border-gold im:tw-border-failure" data-tab="{{ tab.id }}" data-group="{{ tab.group }}">
    {{> systems/wh40k-rpg/templates/actor/panel/ship-weapons-panel.hbs}}
</section>
