## IDE
.idea
.vscode
.DS_Store
Thumbs.db

## Libraries
src/module/foundry-core

## Build Output
node_modules
css
build
archive
dist
*.zip
*.log

## Development
db-conversion
**/foundry-core/**
backup
docker-data
foundrydata
FoundryVTTData

## Secrets
.env.secret

## Docker Development
docker-compose.yml
conf
