{{! Rogue Trader Peer/Enemy Sheet - Modern Design }}
<form class="wh40k-item-sheet" autocomplete="off">
    {{! Header }}
    <div class="wh40k-item-sheet__header">
        <div class="wh40k-item-sheet__title-area tw-pl-4">
            <div class="wh40k-item-sheet__name-field tw-flex tw-flex-col tw-gap-1">
                <label class="wh40k-item-sheet__name-label">Name</label>
                <input class="wh40k-item-sheet__name-input" name="name" type="text" value="{{item.name}}" />
            </div>
        </div>
    </div>

    {{! Main Fields }}
    <div class="wh40k-item-sheet__panel">
        <div class="wh40k-item-sheet__field tw-flex tw-flex-col tw-gap-1">
            <label class="wh40k-item-sheet__label">Modifier</label>
            <input class="wh40k-item-sheet__input tw-w-24" name="system.modifier" type="number" data-dtype="Number" value="{{item.system.modifier}}" />
        </div>
    </div>

    {{! Description }}
    <div class="wh40k-item-sheet__description tw-p-4">
        <div class="wh40k-item-sheet__field tw-flex tw-flex-col tw-gap-1">
            <label class="wh40k-item-sheet__label">Description</label>
            <textarea class="wh40k-item-sheet__textarea tw-w-full tw-p-2 tw-rounded tw-border tw-border-[rgba(255,255,255,0.1)] tw-bg-[rgba(0,0,0,0.2)] tw-text-[var(--color-text-primary)]" name="system.description.value">{{item.system.description.value}}</textarea>
        </div>
    </div>
</form>