{{!-- Rogue Trader Peer/Enemy Sheet - Modern Design --}}
<form class="rt-item-sheet" autocomplete="off">
    {{!-- Header --}}
    <div class="rt-item-sheet__header">
        <div class="rt-item-sheet__title-area" style="padding-left: 16px;">
            <div class="rt-item-sheet__name-field">
                <label class="rt-item-sheet__name-label">Name</label>
                <input class="rt-item-sheet__name-input" name="name" type="text" value="{{item.name}}" />
            </div>
        </div>
    </div>
    
    {{!-- Main Fields --}}
    <div class="rt-item-sheet__panel">
        <div class="rt-item-sheet__field">
            <label class="rt-item-sheet__label">Modifier</label>
            <input class="rt-item-sheet__input" name="system.modifier" type="number" data-dtype="Number" value="{{item.system.modifier}}" />
        </div>
    </div>
    
    {{!-- Description --}}
    <div class="rt-item-sheet__description">
        <div class="rt-item-sheet__field">
            <label class="rt-item-sheet__label">Description</label>
            <textarea class="rt-item-sheet__textarea" name="system.description">{{item.system.description}}</textarea>
        </div>
    </div>
</form>