<form class="wh40k-item-sheet wh40k-item-sheet--journal" autocomplete="off">
    {{! Header }}
    <header class="wh40k-item-sheet__header">
        <div class="wh40k-item-sheet__portrait wh40k-item-sheet__portrait--small">
            <span class="material-icons wh40k-item-sheet__portrait-icon">auto_stories</span>
        </div>
        <div class="wh40k-item-sheet__header-info">
            <input class="wh40k-item-sheet__name-input" name="name" type="text" value="{{item.name}}" placeholder="Journal Entry Title" />
            <div class="wh40k-item-sheet__type-badge">
                <span class="material-icons">menu_book</span>
                <span>Journal Entry</span>
            </div>
        </div>
    </header>

    {{! Entry Details Panel }}
    <section class="wh40k-item-sheet__panel">
        <h2 class="wh40k-item-sheet__panel-title">
            <span class="material-icons">event</span>
            Entry Details
        </h2>
        <div class="wh40k-item-sheet__grid wh40k-item-sheet__grid--2col">
            <div class="wh40k-item-sheet__field">
                <label class="wh40k-item-sheet__label">Date</label>
                <input class="wh40k-item-sheet__input" name="system.time" type="date" value="{{item.system.time}}" />
            </div>
            <div class="wh40k-item-sheet__field">
                <label class="wh40k-item-sheet__label">Location</label>
                <input class="wh40k-item-sheet__input" name="system.place" type="text" value="{{item.system.place}}" placeholder="Where this occurred..." />
            </div>
        </div>
    </section>

    {{! Entry Content Panel }}
    <section class="wh40k-item-sheet__panel wh40k-item-sheet__panel--description">
        <h2 class="wh40k-item-sheet__panel-title">
            <span class="material-icons">edit_note</span>
            Entry
        </h2>
        <div class="wh40k-item-sheet__field wh40k-item-sheet__field--full">
            <textarea
                class="wh40k-item-sheet__textarea wh40k-item-sheet__textarea--large"
                name="system.description.value"
                placeholder="Record your thoughts, discoveries, and observations..."
            >{{item.system.description.value}}</textarea>
        </div>
    </section>
</form>