{{! Description Panel
     ProseMirror editor for item description with formatting toolbar
     Used in all item sheets
}}
<div class="wh40k-description-panel">
    <header class="wh40k-panel-header">
        <i class="fas fa-scroll"></i>
        <span>{{localize "WH40K.Description"}}</span>
    </header>

    <div class="wh40k-panel-body">
        {{editor system.description.value target="system.description.value" button=true editable=editable engine="prosemirror"}}
    </div>
</div>