{{!-- Description Panel
     ProseMirror editor for item description with formatting toolbar
     Used in all item sheets
--}}
<div class="rt-description-panel">
  <header class="rt-panel-header">
    <i class="fas fa-scroll"></i>
    <span>{{localize "RT.Description"}}</span>
  </header>
  
  <div class="rt-panel-body">
    {{editor content=(or system.description.value "") target="system.description.value" button=true owner=owner editable=editable engine="prosemirror"}}
  </div>
</div>
