{{!-- Acolyte Sheet Body - Contains all tab content --}}
<section class="wh40k-body">
    {{!-- Include each tab template directly --}}
    {{> systems/wh40k-rpg/templates/actor/player/tab-overview.hbs}}
    {{> systems/wh40k-rpg/templates/actor/player/tab-skills.hbs}}
    {{> systems/wh40k-rpg/templates/actor/player/tab-talents.hbs}}
    {{> systems/wh40k-rpg/templates/actor/player/tab-combat.hbs}}
    {{> systems/wh40k-rpg/templates/actor/player/tab-equipment.hbs}}
    {{> systems/wh40k-rpg/templates/actor/player/tab-biography.hbs}}
</section>
