{{!-- Acolyte Sheet Body - Contains all tab content --}}
<section class="wh40k-body tw-flex tw-flex-col tw-flex-1 tw-overflow-y-auto tw-overflow-x-hidden tw-min-h-0 tw-p-3 bc:tw-bg-crimson/[2%] dh1e:tw-bg-gold-dark/[2%] dh2e:tw-bg-gold-dark/[2%] dw:tw-bg-accent-combat/[2%] ow:tw-bg-brass/[2%] rt:tw-bg-gold/[2%] im:tw-bg-failure/[2%]">
    {{!-- Include each tab template directly --}}
    {{> systems/wh40k-rpg/templates/actor/player/tab-overview.hbs}}
    {{> systems/wh40k-rpg/templates/actor/player/tab-skills.hbs}}
    {{> systems/wh40k-rpg/templates/actor/player/tab-talents.hbs}}
    {{> systems/wh40k-rpg/templates/actor/player/tab-combat.hbs}}
    {{> systems/wh40k-rpg/templates/actor/player/tab-equipment.hbs}}
    {{> systems/wh40k-rpg/templates/actor/player/tab-biography.hbs}}
</section>
