{{!-- Acolyte Sheet Powers Tab --}}
{{!-- Modern powers management with psychic powers, navigator powers, rituals, and orders --}}
<section class="tab {{#if tab.active}}active{{/if}} {{ tab.cssClass }} wh40k-tab-powers" data-tab="{{ tab.id }}" data-group="{{ tab.group }}">
    <div class="tw-grid tw-grid-cols-2 tw-gap-4 tw-min-h-0">
        {{!-- Left Column: Psyker Control & Psychic Powers --}}
        <div class="wh40k-powers-col wh40k-powers-col-left tw-flex tw-flex-col tw-gap-0 tw-overflow-visible tw-min-w-0">
            {{!-- Psy Rating Control Center --}}
            {{> systems/wh40k-rpg/templates/actor/panel/psy-rating-panel-v2.hbs}}
            
            {{!-- Psychic Powers --}}
            {{> systems/wh40k-rpg/templates/actor/panel/psychic-powers-panel-v2.hbs}}
        </div>
        
        {{!-- Right Column: Navigator, Rituals, Orders --}}
        <div class="wh40k-powers-col wh40k-powers-col-right tw-flex tw-flex-col tw-gap-0 tw-overflow-visible tw-min-w-0">
            {{!-- Navigator Powers --}}
            {{> systems/wh40k-rpg/templates/actor/panel/navigator-powers-panel-v2.hbs}}
            
            {{!-- Rituals --}}
            {{> systems/wh40k-rpg/templates/actor/panel/rituals-panel-v2.hbs}}
            
            {{!-- Ship Orders --}}
            {{> systems/wh40k-rpg/templates/actor/panel/orders-panel-v2.hbs}}
        </div>
    </div>
</section>
