{{!-- Acolyte Sheet Combat Tab --}}
{{!-- This part renders the Combat tab content with weapons and reactions --}}
<section class="tab {{#if tab.active}}active{{/if}} {{ tab.cssClass }} tw-hidden tw-flex-col tw-gap-3 tw-p-3 {{#if tab.active}}tw-flex{{/if}} bc:tw-bg-crimson/[2%] dh1e:tw-bg-gold-dark/[2%] dh2e:tw-bg-gold-dark/[2%] dw:tw-bg-accent-combat/[2%] ow:tw-bg-brass/[2%] rt:tw-bg-gold/[2%] im:tw-bg-failure/[2%]" data-tab="{{ tab.id }}" data-group="{{ tab.group }}">
    {{> systems/wh40k-rpg/templates/actor/panel/combat-station-panel.hbs}}
</section>
