<div class="rt-panel rt-combat-controls rt-grid-col-2">
    <div class="rt-panel-header">
        <span class="rt-panel-title"><i class="fas fa-crosshairs"></i> Controls</span>
    </div>
    <div class="rt-panel-body">
        <div class="rt-control-grid">
            <button type="roll" class="rt-control-btn combat-control" data-action="attack">
                <i class="fas fa-bullseye"></i>
                <span>Attack</span>
            </button>
            <button type="roll" class="rt-control-btn combat-control" data-action="assign-damage">
                <i class="fas fa-bolt"></i>
                <span>Assign Damage</span>
            </button>
            <button type="roll" class="rt-control-btn combat-control" data-action="dodge">
                <i class="fas fa-shoe-prints"></i>
                <span>Dodge</span>
            </button>
            <button type="roll" class="rt-control-btn combat-control" data-action="parry">
                <i class="fas fa-shield-alt"></i>
                <span>Parry</span>
            </button>
        </div>
    </div>
</div>
