{{!-- Active Effects Panel --}}
{{!-- Displays all active effects on the actor --}}
<div class="wh40k-panel" data-panel-id="effects">
    <div class="wh40k-panel-header" {{#if collapsible}}data-action="togglePanel"{{/if}}>
        <span class="wh40k-panel-title tw-text-gold bc:tw-text-crimson-light dh1e:tw-text-gold-raw-l5 dh2e:tw-text-gold-raw dw:tw-text-accent-combat ow:tw-text-brass-l20 rt:tw-text-gold im:tw-text-failure">
            <i class="fas fa-magic"></i> {{localize 'WH40K.Effects.ActiveLabel'}}
        </span>
        {{#if collapsible}}
            <i class="fas fa-chevron-down"></i>
        {{/if}}
    </div>
    <div class="wh40k-panel-body">
        {{#if effects.length}}
            <div class="wh40k-effects-list tw-flex tw-flex-col tw-gap-2 tw-mb-3">
                {{#each effects as |effect|}}
                    {{> systems/wh40k-rpg/templates/actor/partial/effect-row.hbs
                        effect=effect
                        expanded=true
                        editable=@root.editable
                        toggleAction="toggleEffect"
                        editAction=""
                        deleteAction="deleteEffect"
                        showDuration=true}}
                {{/each}}
            </div>
        {{/if}}

        {{#if editable}}
            <div class="wh40k-dropzone">
                <i class="fas fa-magic wh40k-dropzone-icon"></i>
                <span class="wh40k-dropzone-text" data-dropzone-text>{{localize 'WH40K.Effects.DropHere'}}</span>
            </div>
        {{/if}}
    </div>
</div>
