{{!-- Loadout Manager Equipment Panel --}}
{{!-- Modern equipment management with organized sections --}}

<div class="tw-flex tw-flex-col tw-h-full tw-min-h-0">
    {{!-- NEW: Split Backpack Panel (Personal & Ship Storage) --}}
    {{> systems/wh40k-rpg/templates/actor/panel/backpack-split-panel.hbs}}


</div>
