{{!-- Loadout Manager Equipment Panel --}}
{{!-- Modern equipment management with organized sections --}}

<div class="wh40k-equipment-loadout">
    {{!-- NEW: Split Backpack Panel (Personal & Ship Storage) --}}
    {{> systems/wh40k-rpg/templates/actor/panel/backpack-split-panel.hbs}}


</div>
