{{!-- Loadout Manager Equipment Panel --}}
{{!-- Modern equipment management with organized sections --}}

<div class="tw-flex tw-flex-col tw-h-full tw-min-h-0 tw-border-t-gold bc:tw-border-t-crimson-light dh1e:tw-border-t-gold-raw-l5 dh2e:tw-border-t-gold-raw dw:tw-border-t-accent-combat ow:tw-border-t-brass-l20 rt:tw-border-t-gold im:tw-border-t-failure">
    {{!-- NEW: Split Backpack Panel (Personal & Ship Storage) --}}
    {{> systems/wh40k-rpg/templates/actor/panel/backpack-split-panel.hbs}}


</div>
