{{!-- NPC Combat Tab --}}
<section class="tab {{#if tab.active}}active{{/if}} {{ tab.cssClass }}" data-tab="{{ tab.id }}" data-group="{{ tab.group }}">
    {{> systems/rogue-trader/templates/actor/panel/wounds-panel-v2.hbs}}
    {{> systems/rogue-trader/templates/actor/panel/fatigue-panel-v2.hbs}}
    {{> systems/rogue-trader/templates/actor/panel/fate-panel-v2.hbs}}
    {{> systems/rogue-trader/templates/actor/panel/armour-display-panel.hbs}}
    {{> systems/rogue-trader/templates/actor/panel/combat-controls-panel.hbs}}
    {{> systems/rogue-trader/templates/actor/panel/characteristic-roller-panel.hbs}}
    {{> systems/rogue-trader/templates/actor/panel/movement-panel.hbs}}
    {{> systems/rogue-trader/templates/actor/panel/active-effects-panel.hbs}}
    {{> systems/rogue-trader/templates/actor/panel/weapon-panel.hbs}}
</section>
