{{!-- Talent-Base Item Sheet Template --}}
{{!-- Base template for items that provide modifiers (talents, traits, conditions, injuries) --}}
<div class="rt-item-sheet rt-talent-sheet rt-{{item.type}}-sheet">
  <form autocomplete="off">
    
    {{!-- HEADER: Image + Name + Type Badge --}}
    {{> systems/rogue-trader/templates/item/panel/item-header.hbs}}
    
    {{!-- MODIFIERS SUMMARY BAR (if has modifiers) --}}
    {{#if system.hasModifiers}}
    {{> systems/rogue-trader/templates/item/panel/modifiers-summary.hbs}}
    {{/if}}
    
    {{!-- TAB NAVIGATION --}}
    <nav class="rt-item-tabs" data-group="primary">
      <button type="button" class="rt-item-tab active" data-tab="details" data-group="primary">
        <i class="fas fa-info-circle"></i>
        <span>Details</span>
      </button>
      <button type="button" class="rt-item-tab" data-tab="modifiers" data-group="primary">
        <i class="fas fa-sliders-h"></i>
        <span>Modifiers</span>
      </button>
      <button type="button" class="rt-item-tab" data-tab="effects" data-group="primary">
        <i class="fas fa-magic"></i>
        <span>Effects</span>
      </button>
    </nav>
    
    {{!-- TAB CONTENT --}}
    <section class="rt-item-content">
      
      {{!-- DETAILS TAB --}}
      <div class="rt-item-panel active" data-tab="details" data-group="primary">
        {{!-- Type-specific content injected here via partial --}}
        {{> @partial-block}}
        
        {{!-- DESCRIPTION --}}
        {{> systems/rogue-trader/templates/item/panel/description-panel.hbs}}
        
        {{!-- SOURCE --}}
        {{> systems/rogue-trader/templates/item/panel/source-panel.hbs}}
      </div>
      
      {{!-- MODIFIERS TAB --}}
      <div class="rt-item-panel" data-tab="modifiers" data-group="primary">
        {{> systems/rogue-trader/templates/item/panel/modifiers-panel.hbs}}
      </div>
      
      {{!-- EFFECTS TAB --}}
      <div class="rt-item-panel" data-tab="effects" data-group="primary">
        {{> systems/rogue-trader/templates/item/panel/active-effects-panel.hbs}}
      </div>
      
    </section>
  </form>
</div>
