{{!-- Vehicle Traits Tab --}}
<section class="tab {{#if tab.active}}active{{/if}} {{ tab.cssClass }}" data-tab="{{ tab.id }}" data-group="{{ tab.group }}">
    {{> systems/rogue-trader/templates/actor/panel/trait-panel.hbs}}
    {{> systems/rogue-trader/templates/actor/panel/vehicle-upgrades-panel.hbs}}
</section>
