{{!-- Vehicle Weapons Tab --}}
<section class="tab {{#if tab.active}}active{{/if}} {{ tab.cssClass }}" data-tab="{{ tab.id }}" data-group="{{ tab.group }}">
    <div class="wh40k-grid wh40k-grid-6-col">
        {{> systems/wh40k-rpg/templates/actor/panel/vehicle-weapons-panel.hbs}}
    </div>
</section>
