{{!-- Vehicle Sheet Tab Navigation --}}
<nav class="rt-navigation" data-group="primary">
    <label class="rt-navigation__item rt-nav-item">
        <a class="item" data-tab="stats" data-group="primary">
            <span class="material-icons">speed</span>
            {{localize "RT.Vehicle.Tabs.Stats"}}
        </a>
    </label>
    <label class="rt-navigation__item rt-nav-item">
        <a class="item" data-tab="weapons" data-group="primary">
            <span class="material-icons">gps_fixed</span>
            {{localize "RT.Vehicle.Tabs.Weapons"}}
        </a>
    </label>
    <label class="rt-navigation__item rt-nav-item">
        <a class="item" data-tab="traits" data-group="primary">
            <span class="material-icons">stars</span>
            {{localize "RT.Vehicle.Tabs.Traits"}}
        </a>
    </label>
</nav>
