{{! Vehicle Sheet Tab Navigation }}
<nav class="wh40k-navigation" data-group="primary">
    <label class="wh40k-navigation__item wh40k-nav-item">
        <a class="item" data-tab="stats" data-group="primary">
            <span class="material-icons">speed</span>
            {{localize "WH40K.Vehicle.Tabs.Stats"}}
        </a>
    </label>
    <label class="wh40k-navigation__item wh40k-nav-item">
        <a class="item" data-tab="weapons" data-group="primary">
            <span class="material-icons">gps_fixed</span>
            {{localize "WH40K.Vehicle.Tabs.Weapons"}}
        </a>
    </label>
    <label class="wh40k-navigation__item wh40k-nav-item">
        <a class="item" data-tab="traits" data-group="primary">
            <span class="material-icons">stars</span>
            {{localize "WH40K.Vehicle.Tabs.Traits"}}
        </a>
    </label>
</nav>